/* You can add global styles to this file, and also import other style files */

$white-AO : #F9F9F9;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white-AO;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}